/.AnonymousInstance.java._trace
/.AnonymousInstanceProcessor.java._trace
/AnonymousInstance.java
/AnonymousInstanceProcessor.java
/.Synchronized.java._trace
/.Synchronize.java._trace
/.SynchronizeProcessor.java._trace
/.SynchronizeXProcessor.java._trace
/.AnonymousInnerType.java._trace
/.AnonymousInnerTypeProcessor.java._trace
