/.AnonymousInstance.java._trace
/.AnonymousInstanceProcessor.java._trace
/AnonymousInstance.java
/AnonymousInstanceProcessor.java
/.Synchronized.java._trace
/.Synchronize.java._trace
/.SynchronizeProcessor.java._trace
