/.EObjectClasspathProvider.java._trace
/.ClasspathProvider.java._trace
/.ECoreClasspathProvider.java._trace
/.ResourceSetClasspathProvider.java._trace
/.ToString.java._trace
/.XTextResourceSetClasspathProvider.java._trace
/.AnnotateEObject.java._trace
